<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Olympiad Tracker API</title>
</head>
<body>
    <header>
            Olympiad Tracker API
    </header>
    <div id="content">
        <p>Использует информацию с ресурсов 
                <a href="http://info.olimpiada.ru">info.olimpiada.ru</a>, 
                <a href="http://moeobrazovanie.ru">moeobrazovanie.ru</a> 
                и <a href="http://rsr-olymp.ru">rsr-olymp.ru</a>
        </p>
            
                <div class="function">
                    <b>Получить список предстоящих событий:</b><br>
                    <code>/getNext?class={класс}&stage={этап}&subject={предмет}</code>
                    <div class="instruction">
                        <b>Предметы:</b>
                        <ul>
                            <li>mathematics (Математика)</li>
                            <li>informatics (Информатика)</li>
                            <li>russian (Русский язык)</li>
                            <li>physics (Физика)</li>
                            <li>chemistry (Химия)</li>
                            <li>biology (Биология)</li>
                            <li>social (Обществознание)</li>
                            <li>literature (Литература)</li>
                            <li>geography (География)</li>
                            <li>foreign (Иностранный язык)</li>
                            <li>art (Искусство)</li>
                            <li>economy (Экономика)</li>
                            <li>-1 (Любой предмет)</li>
                        </ul>
                    </div>
                    <div class="instruction">
                            <b>Этапы:</b>
                            <ul>
                                <li>selection (Отборочный этап)</li>
                                <li>final (Заключительный этап)</li>
                                <li>-1 (Любой этап)</li>
                            </ul>
                    </div>
                    <div class="instruction">
                            <b>Классы:</b> 5, 6, 7, 8, 9, 10, 11
                    </div>
                </div>
                <div class="function">
                    <b>Получить список текущих событий:</b><br>
                    <code>/getCurrent?class={класс}&stage={этап}&subject={предмет}</code>
                    <div class="instruction">
                        <b>Предметы:</b>
                        <ul>
                            <li>mathematics (Математика)</li>
                            <li>informatics (Информатика)</li>
                            <li>russian (Русский язык)</li>
                            <li>physics (Физика)</li>
                            <li>chemistry (Химия)</li>
                            <li>biology (Биология)</li>
                            <li>social (Обществознание)</li>
                            <li>literature (Литература)</li>
                            <li>geography (География)</li>
                            <li>foreign (Иностранный язык)</li>
                            <li>art (Искусство)</li>
                            <li>economy (Экономика)</li>
                            <li>-1 (Любой предмет)</li>
                        </ul>
                    </div>
                    <div class="instruction">
                        <b>Этапы:</b>
                        <ul>
                            <li>selection (Отборочный этап)</li>
                            <li>final (Заключительный этап)</li>
                            <li>-1 (Любой этап)</li>
                        </ul>
                    </div>
                    <div class="instruction">
                            <b>Классы:</b> 5, 6, 7, 8, 9, 10, 11
                    </div>
                </div>
            </div>

</body>
</html>