body {
    background: rgb(245, 245, 245);
    color: rgb(30, 30, 30);
    font-family: 'Calibri Light', 'Segoe UI', sans-serif;
    margin: 0;
    font-size: 18.5pt;
}
header {
    font-size: 28pt;
    padding-left: 10px;
    padding: 16px;
    background: rgb(30, 30, 30);
    color: rgb(245, 245, 245);

}
#content {
    margin: 15px;
}
.instruction {
    margin: 10px;
    padding: 10px;
    background: white;
    border-radius: 11px;
}